@font-face {
    font-family: 'Kingthings Hand';
    src: url('../fonts/KingthingsHand.woff2') format('woff2'),
        url('../fonts/KingthingsHand.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body{font-family: 'Kingthings Hand';
    font-weight: 100;
    font-style: normal;
    font-display: swap;}

.nav-left-sidebar .nav-link[data-toggle="collapse"]::after {right: 10px;}
.dashboard-header .navbar{background: #1c223b;}
.navbar-right-top .nav-item .nav-link{color:#fff;}	
.navbar-right-top .nav-item .nav-link i{margin-left:5px;color:#cfb53b;}
.mr-10{margin-right:10px;}
.user-avatar-md{height:55px;width:55px;background-color:#fff;}
.img-responsive{max-width:73px;}
.navbar-brand{width:264px;background-color:#fff;}
h3.ad {
	font-size: 26px;
	text-align: center;
	color: #fff;
	font-weight: 200;
	display: inline-block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
h3.ad > span{font-weight:500;color:#cfb53b;}
.nav-left-sidebar .navbar{margin:2.3em 0 0;}
.dashboard-header .navbar{max-height:85px;border-bottom:2px solid #cfb53b}
.nav-left-sidebar .navbar-nav .nav-link{font-size:18px;}
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link{color:#fff;}
.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:focus, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active, .sidebar-dark.nav-left-sidebar .navbar-nav .nav-link:hover{color:#cfb53b;}
.nav-item .nav-item .nav-link:hover, .nav-item .nav-item .nav-link:focus{color:#cfb53b!important;}
.dashboard-content{margin:1em 0 0;}
.pageheader-title{font-weight:200;color:#000;}
.pageheader-title > span{font-weight:500;}
.footer{color:#fff;text-align:center;position:fixed;bottom:0;left:0;right:0;margin:auto;background-color:#1c223b;font-size:12px;font-weight:300;z-index:1;}
a.ad > span{font-weight:500;color:#cfb53b;}
a.ad {color:#fff;font-weight:200;}
.navbar-toggler-icon{height:1em;width:1em;}
.navbar-toggler.mobile{margin-right:15px;padding:0;border-radius:50%;height:50px;width:50px;line-height:18px;position:relative;border:2px solid #fff;background-color:#fff;}	
.sidebar-dark{z-index:2;}
.dashboard-wrapper{background-color:#e8e8e8;min-height:550px!important;}
.dashboard-wrapper::before{content:"";position:fixed;top:0;right:0;bottom:0;left:0;background-image:url('../images/logo.png');background-position:540px center;background-size:40%;background-repeat:no-repeat;opacity:.11;}
.input-group-text{background-color:transparent;color:#000;font-weight:300;font-size:15px;padding-left:0;border:0;}
.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child){border-radius:100px;border-color:#959595;font-weight:300;}
h3.small-heading{color:#000;font-weight:400;font-size:18px;position:relative;padding-bottom:.7em;}
h3.small-heading:after{content:'';position:absolute;bottom:0;left:0;height:2px;width:5%;background-color:#cfb53b;}
.btn-warning{border:0;background-color:#cfb53b;color:#080c1d;font-weight:500;font-size:15px;padding:8px 20px;}
.pull-right{float:right;margin:1em 0 0;}
.custom-file-label.btn-rounded{border-color:#959595;font-size:14px;color:#949494;line-height:2em;height:41px;content:"";position:absolute;top:0;right:0;bottom:0;margin:auto;background-image:url('../images/upload.png');background-position:center right;background-repeat:no-repeat;background-size:100px;}
.custom-file-label.btn-rounded:hover{cursor:pointer;}
.custom-file-input{height:auto;}
.nav-user-info{background-color:#cfb53b;}
.input-group > .custom-file:focus, .input-group > .custom-select:focus, .input-group > .form-control:focus{border-color:#cfb53b;}
.mb-2r{margin-bottom:2rem;}
select.form-control:not([size]):not([multiple]){height:auto;}
select.form-control{background:url(../images/arrow-down.svg) no-repeat white;-moz-appearance:none;background-position:center right 10px;}
.input-group-text{min-width:122px;}
.input-group > .custom-file:not(:first-child) .custom-file-label, .input-group > .custom-file:not(:first-child) .custom-file-label::after{border-top-left-radius:100px;border-bottom-left-radius:100px;}
.input-group > .custom-file:not(:last-child) .custom-file-label, .input-group > .custom-file:not(:last-child) .custom-file-label::after{border-top-right-radius:100px;border-bottom-right-radius:100px;}
.table thead th, .table th{font-family:'Roboto';font-weight:600;font-size:1.1em;}
.table td{font-weight:300;color:#555;}
.card-body{padding-top:0;}
textarea.btn-rounded{border-radius:25px!important;resize:none;}
.input-group-text{align-items:baseline;}
.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control{padding:.375em .75em;}
.h-42{height:42px;}
.page-breadcrumb .breadcrumb{padding:0;border-top:0;}
.text-white {letter-spacing: 1px;}

@media(max-width:767px){
h3.ad{display:none;}
.navbar-collapse.mobile{background-color:#000;}
.dashboard-content {margin:0;}
h3.small-heading{margin-top:1.5em;}
.dashboard-wrapper::before{background-position:center;background-size:45%;}
.pull-right{float:left;}
.nav-left-sidebar .navbar a{font-size:22px;}
.nav-left-sidebar .navbar-nav{margin:1.5em 0 0;}
}